*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}
:root{
    --primart-one : rgb(232, 232, 61);
}
.container{
    height: auto;
    width: 100%;
}
header{
    height: 50px;
    width: 100%;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
}
span{
    color: orange;
}
header ul{
    display: flex;
}
header ul li{
    list-style: none;
    margin-left: 100px;
    margin-top: 10px;
}
nav{
    height: 100px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    
}
nav img{
    height: 50px;
    width: 150px;
    margin-left: 20px;
    margin-top: 20px;
}
nav ul{
    display: flex;
    margin-left: 80px;
    margin-top: 35px;
}
nav ul li{
    margin-left: 50px;
    list-style: none;
    
}
nav ion-icon{
    margin-left: 150px;
    margin-top: 35px;
    font-size: 20px;
}
nav button{
    height: 40px;
    width: 200px;
    margin-top: 25px;
    margin-left: 10px;
    background-color: orange;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    
}
nav button:hover{
    background-color: white;
    color: orange;
    border: 1px orange solid;
}
.content1{
    background-color: orange;
    height: 300px;
    width: 100%;
    position: absolute;
}
.content1 h1{
    font-size: 60px;
    margin-left: 100px;
    margin-right: 500px;
    margin-top: 70px;
    
}
.content2{
    display: flex;
    height: 500px;
    width: 100%;
    margin-top: 200px;
}
.content2 .content21{
    background-color: gray;
    width:50%;
    height: 450px;
}
.content2 .content21 p{
    font-size: 30px;
    margin-top: 150px;
    margin-left: 50px;
}
.content2 .content21 button{
    margin-top: 60px;
    margin-left: 50px;
    height: 50px;
    width: 200px;
    background-color: orange;
    border-radius: 20px;
    font-size: 16px;
}
.content2 .content22{
  
    width:50%;
    
}
.content2 .content22 img{
    height: 350px;
    width: 630px;
    margin-top: 100px;
}
.content3{
    display: flex;
}
.content3 p{
    margin-left: 50px;
    font-size: 20px;
}
.content3 h2{
    margin-left: 400px;
    font-size: 40px;
}
.content4{
    display: flex;
    height: 700px;
    width: 100%;
    background-color: whitesmoke;
}
.content41 img{
height: 500px;
width: 500px;
margin-left: 50px;
border-radius: 50px;

}
.content41 h1{
    font-size: 30px;
    margin-left: 70px;
    margin-top: 20px;
}
.content41 p{
  
    font-size: 25px;
    font-weight: lighter;
}
.content42 p{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.content42 img{
    height: 400px;
    width: 400px ;
    border-radius: 50px;
    margin-left: 200px;
    margin-top: 30px;
}
.content5{
    height: 600px;
    width: 100%;
    
}
.content51{
    display: flex;
}
.content511 h2{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 100px;
}
.content511 p{
    font-size: 20px;
    margin-left: 100px;
    margin-right: 300px;
}
.content51  button{
    height: 50px;
    width: 350px;
    background-color: orange;
    margin-top: 50px;
    margin-right: 200px;
    border-radius: 50px;
    font-size: 16px;
}
.content52{
    display: flex;
}

.content52 .box{
    height: 250px;
    width: 250px;
    border: 1px black solid;
    margin-top: 20px;
    margin-left: 50px;
    padding: 20px;
}
.content52 h2{
    margin-top: 20px;
   
}
.content52 p{
    margin-top: 30px;
    font-size: 20px;
}
.content6{
    height: 500px;
    width: 100%;
    background-color: rgb(65, 63, 63);
}
.content6 img{
    height: 400px;
    width: 80%;
    margin-left: 200px;
    margin-top: 50px;
    border-radius: 20px;
}
.content61{
    display: flex;
    margin-top: -400px;

}
.content611{
    height: 400px;
    width: 400px;
    background-color: white;
    margin-left: 70px;
    border-radius:30px ;
}
.content611 p{
    margin: 20px;
}
.content612{
    margin-left: 200px;
    margin-top: 50px;
    margin-right: 70px;
}
.content612 h1{
    font-size: 40px;
}
.content612 p{
    font-size: 20px;
    color: rgb(250, 250, 245);
}
.content612 button{
    height: 40px;
    width: 200px;
    background-color: orange;
    border-radius: 20px;
    margin-top: 30px;
}
.content7{
    height: 400px;
    width: 100%;
    display: flex;
}
.content71 h3{
    margin-top: 20px;
    font-size: 20px;
    margin-left: 50px;
}
.content71 h1{
    margin-top: 20px;
    font-size: 30px;
    margin-left: 50px;
}
.content71 p{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 300px;
}
.content72 img{
    height: 300px;
    width: 500px;
    margin-top: 80px;
    margin-right: 150px;
}
.content721{
    height: 200px;
    width: 400px;
    background-color:rgb(33, 10, 49);
    margin-top: -150px;
    position: absolute;
    overflow: hidden;
    color: white;
    border-radius: 20px;
    margin-left: 20px;
}
.content721 p{
    padding: 30px;
    font-size: 16px;
}
.content721 h4{
    margin-left: 200px;
}
.content8{
    height: 400px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    background-color: gray;
}
.content8 img{
    height: 400px;
    width: 500px;
}
.content81{
    padding: 40px;
}
.content81 h2{
    font-size: 50px;

}
.content81 p{
    font-size: 20px;
    margin-top: 30px;
    margin-right: 100px;
}
.content81 button{
    height: 30px;
    width: 200px;
    background-color: orange;
    border-radius: 10px;
    margin: 20px;
    font-size: 16px;
}
.content9{
    height: 500px;
    width: 100%;
    display: flex;
}
.content91{
    margin-top: 30px;
}
.content91 h3{
    margin-left: 50px;
}
.content91 .box{
    height: 50px;
    width:200px ;
    margin: 30px;
    border: 1px black solid;
}
.content92 h1{
    margin-left: 400px;
    margin-top: 20px;
    font-size: 40px;
}
.accordion{
    width: 80%;
    max-width: 600px;
    padding-top: 80px;
    margin-left: 200px;
    margin-top: -40px;
}

.accordion-item{
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    border: 1px black solid;
}

.accordion-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 1s;
}

.accordion-header:hover{
    background-color: #f1f1f1;
}
.accordion-symbol{
    font-size: 18px;
    transition: transform 1s;
}

.accordion-content{
    display: none;
    padding: 15px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
}

.accordion-content p{
    margin: 0;
}

.accordion-header.active .accordion-symbol{
    transform: rotate(0deg);
}

.accordion-header.active{
    color: rgb(231, 137, 13);
}
.acco{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accordion hr{
    width: 530px;
}
footer{
    background: black;
    padding: 80px 50px;
    color: white;
}
.line{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons a{
    font-size: 30px;
    padding-right: 30px;
    color: var(--primart-one);
}
.icons{
    display: flex;
    padding: 16px 10px 20px 10px;
}
.fone{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer span{
    color: var(--primart-one);
    color: white;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form{
    background: rgb(30, 30, 30);
    border: 1px solid #363535;
    padding: 30px 30px;
    margin-left:30px;
    border-radius: 5px;
}
.form input{
    height: 50px;
    width: 300px;
    background: none;
    border: 1px solid #363535;
    color: white;
    border-radius: 30px;
    margin-bottom: 20px;
}
button{
    height: 55px;
    width: 200px;
    background: var(--primart-one);
    border: none;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}
button:hover{
    background: white;
    color: var(--primart-one);
}
.none1{
    width: 95%;
}
.none1 h1{
    margin-top: -100px;
    margin-bottom: 10px;
}
.none1 p{
    margin-top: 20px;
    padding: 10px;
}
